@font-face {
    font-family: "munro";
    src: url("/src/fonts/munro-webfont.woff") format("woff");
    size-adjust: 120%;
}
* {
    margin: 0;
    font-family: "munro";
}

a {
    color: #8bac0f;
}

a:visited {
    color: #9bbc0f;
}

body {
    margin: 0;
    background-color: #111;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 200%;
}

img {
    max-width: 100%;
}

a.review-item {
    color: white;
    text-decoration: inherit;
}
.review-item-publication {
    color: #8bac0f;
}

.review-item-author {
    color: #9bbc0f;
}

.review-item-container {
    border-radius: 5px;
    display: flex;
    background-color: #222;
    padding: 5px;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.review-item-container > *{
    margin: 6px
}

img.review-item-img {
    width: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#contents {
    color: #ccc;
    width: 700px;
    margin: auto;
    margin-bottom: 30px
}

#contents p {
    margin: 5px 0;
    line-height: 120%;
}

#navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
}

#navbar a {
    padding: 5px;
    background-color: #306230;
    border-bottom-color: #0f380f;
    border-width: 0 0 10px 0;
    border-style: solid;
    color: inherit;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    display: inline-block;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}

#navbar a:hover {
    margin-top: 3px;
    border-width: 0 0 7px 0;
    background-color: #306230aa;
}

#navbar a.current {
    margin-top: 5px;
    border-width: 0 0 5px 0;
    background-color: #30623094;
}

#navbar a.current:hover {
    margin-top: 6px;
    border-width: 0 0 4px 0;
}

#navbar a:active {
    margin-top: 9px;
    border-width: 0 0 0 0;
    background-color: #30623080;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
}